<!DOCTYPE html>
<html lang="fr">
{% load static %}
{% load getid %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

{% include 'static/header.html' %}

<div class="form-wrap">
    <div class="form-container">
        <div class="post-form">
            <img src="{% static 'images/Icon_addclient.svg' %}">
            <p>Ajouter un client!</p>
        </div>
        <form method="post" action="/clients">
            {% csrf_token %}
            <div class="form">
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="id" value={{ client|mongo_id }}>
                <div class="field">
                    <label>Nom</label>
                    <input name="last_name" value="{{ client.last_name }}">
                </div>
                <div class="field">
                    <label>Prénom</label>
                    <input name="first_name" value="{{ client.first_name }}">
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <input name="email" value="{{ client.email }}">
                </div>
            </div>
            <div class="form">
                <div class="field">
                    <label>Date de naissance</label>
                    <input name="birth_date" value="{{ client.birth_date }}">
                </div>

                <div class="info">
                    <img src="{% static  'images/Icon_homme.svg'%}">

                    <img src="{% static  'images/Icon_femme.svg'%}">
                </div>

                <div class="field">
                    <button type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>