<!DOCTYPE html>
<html lang="fr">
{% load static %}
{% load getid %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

{% include 'static/header.html' %}


<div class="form-wrap">
    <div class="form-container">
        <div class="post-form">
            <img src="{% static 'images/Icon1.svg' %}">
            <p>Ajouter un livre!</p>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form">
                <input type="hidden" name="action" value="put">
                <div class="field">
                    <label>Nom</label>
                    <input name="name" value="{{ name }}">
                </div>
                <div class="field">
                    <label>Auteur</label>
                    <input name="author_name" value="{{ author_name }}">
                </div>
                <div class="field">
                    <label>ISBN</label>
                    <input name="isbn" value="{{ isbn }}">
                </div>
            </div>
            <div class="form">
                <div class="field">
                    <label>Date d'ajout</label>
                    <input name="book_date_added" value="{{ book_date_added }}">
                </div>
                <div class="field">
                    <label>Prix</label>
                    <input name="price" value="{{ price }}">
                </div>
                <div class="field">
                    <button type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="books">
    {% for book in books %}
        <div class="book">
            <div class="info">
                <form method="post" action="/book/edit">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="id" value="{{ book|mongo_id}}">
                    <button type="submit">
                        <img src="{% static  'images/Icon2.svg' %}">
                    </button>
                </form>
            </div>
            <div class="info">
                <p>
                    {{ book.name }}
                </p>
                <p>
                    {{ book.author_name }}
                </p>
            </div>
            <div class="info">
                <p>
                    {{ book.isbn }}
                </p>
                <p>
                    {{ book.book_date_added }}
                </p>
            </div>
            <div class="info">
                <p>
                    {{ book.price }}
                </p>
            </div>
            <div class="info">
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="id" value="{{ book|mongo_id}}">
                    <button type="submit">
                        <img src="{% static  'images/Icon3.svg' %}">
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>