<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta charset="UTF-8">
    <title>BooBook</title>
</head>
<body>
{% include 'static/header.html' %}
<div id="bio">
    <h2>Bienvenue sur BooBook</h2>
    <p>
        BooBook est le meilleur site de vente en ligne de livre
    </p>
</div>
<div id="fond">
    <div id="menu">
        <a href="/clients">
            <div class="leRondDeKevin">
                <img src="{% static  'images/contacts.svg' %}">
                <p>
                    Clients
                </p>
            </div>
        </a>
        <a href="/books">
            <div class="leRondDeKevin">
                <img src="{% static  'images/livre.svg' %}">
                <p>
                    Livres
                </p>
            </div>
        </a>
        <a href="/orders">
            <div class="leRondDeKevin">
                <img src="{% static  'images/chariot.svg' %}">
                <p>
                    Commandes
                </p>
            </div>
        </a>
        <a href="/stats">
            <div class="leRondDeKevin">
                <img src="{% static  'images/stats.svg' %}">
                <p>
                    Statistiques
                </p>
            </div>
        </a>
    </div>
</div>
</body>
</html>
