<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
MAIL
    {% for mail in mails %}
        <p>
            {{ mail.first_name }}
            {{ mail.birth_date }}
            {{ mail.gender }}
        </p>
    {% endfor %}
FEMME
    {% for femme in femmes %}
        <p>
            {{ femme.first_name }}
            {{ femme.birth_date }}
            {{ femme.gender }}
        </p>
    {% endfor %}
STAT
    {% for stat in stats %}
        <p>
            {{ stat.first_name }}
            {{ stat.birth_date }}
        </p>
    {% endfor %}
</div>

</body>
</html>